# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.env.*/
.venv/
.venv*/
pip-wheel-metadata/
pip-log.txt

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
*.pid

# Scrapy stuff
.scrapy/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/

# Pyre type checker
.pyre/

# Logs
logs/
*.log

# IDE / editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# custom
lib/
